.Testimonial-section {
  background-color: rgba(240, 135, 50, 0.1);
  padding: 5% 20%;
  
}

.testimonial-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.testimonial-title span {
  font-size: 2rem;
  color: var(--secoundry-colore);
  text-transform: uppercase;
}

.testimonial-title h2 {
  font-size: 4.6rem;
  margin-top: 2rem;
}

.testimonial-card {
  background-color: white;
  padding: 10% 5%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

/* card top */
.testimonial-card .card-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.testimonial-card .client-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.client-container .profile-container {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  overflow: hidden;
  /* border: 2px solid orange; */
}

.profile-container img {
  width: 100%;
  height: 100%;
}

.clent-detail h5 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.clent-detail span {
  font-size: 1.4rem;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-container img {
  height: 2rem;
}

/* card bottom */
.card-bottom p {
  font-size: 1.6rem;
  font-style: italic;
}


/* swiper */
.Testimonial-section .swiper-pagination-bullet {
  background-color: rgb(33, 37, 41) !important;
}


/* 1024px */
@media(max-width:64rem) {
  .Testimonial-section {
    padding: 5% 15%;
    
  }
}

/* 768px */
@media(max-width:48rem) {
  .Testimonial-section {
    padding: 5% 10%;
    
  }
}

/* 576px  */
@media (max-width:36rem) {
  .Testimonial-section {
    padding: 5% 5%;
    
  }
}