.product-card{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}
.product-img-container{
  width: 100%;
}
.product-img-container img{
  width: 100%;
  height: 100%;
}

.product-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details span{
  position: relative;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  top: -2rem;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.096);
  transition: all 0.5s ease-out;
}
.product-details div{
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-out;
}

.add-to-cart{
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  transform: translateY(100px);
  transition: all 0.5s ease-out;
}
.add-to-cart span{
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secoundry-colore);
  cursor: pointer;
}

.product-card:hover .add-to-cart{
  transform: translateY(-1rem);
}

.product-card:hover .product-details span{
  background-color: var(--secoundry-colore);
  color: white;
}
.product-card:hover .prodct-price{
  opacity: 0;
}