.about-hero-section {
  padding: 2% 10%;
}




/* vedio section */

.video-container video {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  display: block;
  object-fit: cover;
  /* If you want the video to fill the container and crop to fit,
     set the container height and use object-fit: cover; */
  /* height: 100%;
     object-fit: cover; */
}



/* 768px */
@media(max-width:48rem) {
  .video-container video {
    height: 70vh;
  }
}

/* 576px  */
@media (max-width:36rem) {
  .video-container video {
    height: 60vh;
  }
}