.Shop-top{
  padding: 2% 10%;
}

.search-section{
  display:flex;
  max-width: 80%;
  border: 1px solid #e8e8e8;
  font-size: 1.6rem;
}

.Shop-top .Option-section{
  position: relative;
}
.Option{
  height: 100%;
  width: 100%;
  align-content: center;
  padding-left: 3rem;
  cursor: pointer;
}
.Option::after{
  content: "";
  border-right: 2px solid #e8e8e8;
  margin-left: 2rem;
}
.dropdown-content{
  position: absolute;
  border: 1px solid #e8e8e8;
  top: 4rem;
  right: 0;
  left: 0;
  display: none;
}
.show{
  display: block;
}
.dropdown-content div{
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.dropdown-content div:hover{
  background-color: rgba(128, 128, 128, 0.104);
}




.search-section input{
  flex: 1;
  min-width: 100px;
  border: none;
  height: 4rem;
  font-size: 2rem;
  outline: none;
  padding: 0 2rem;
  display: flex;
}
.search-section .search-icon{
  padding: 0 2rem;
  align-content: center;
}