.class-cake-section {
  background-color: rgba(240, 135, 50, 0.1);
  padding: 5% 10%;
  margin-top: 10rem;
  position: relative;
}

.class-cake-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* left sectionn */
.left-section span {
  font-size: 2rem;
  color: var(--secoundry-colore);
}

.left-section h2 {
  font-size: 4.6rem;
  margin: 2rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.input-container input {
  padding: 1.5rem;
  border: none;
  font-size: 1.5rem;
}
.input-container input:focus {
  outline: none;
}

.registration-btn {
  width: 100%;
  padding: 1.5rem;
  border: none;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* right section */
.right-section{
  overflow: hidden;
}
.right-section img {
  display: none;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* bg-image */
.class-cake-bg {
  position: absolute;
  right: 0.5rem;
  top: -4rem;
  bottom: 5rem;
  width: 48%;
}

.class-cake-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* 768px */
@media(max-width:48rem) {
  .class-cake-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .right-section img {
    display: initial;
  }

  .class-cake-bg {
    display: none;
  }
}

