.item-swipe-section {
  display: flex;
  justify-content: center;
  padding: 0 20% 5% 20%;

}
.categories-item-icon{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 166, 0, 0.014);
  width: 19rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 4rem ;
  margin-bottom: 4rem;
}
.categories-icon-ctn{
  width: 6.1rem;
  height: 6rem;
  margin-bottom: 0.5rem;
  
}
.categories-icon-ctn img{
  width: 100%;
}

.categories-item-icon h5{
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.categories-item-icon:hover{
  border: 2px solid var(--secoundry-colore);
}
.categories-item-icon:hover .categories-icon-ctn{
  background-color: white;
}

.swiper{
  border-bottom:1px solid var(--secoundry-colore) !important;
}
.swiper-slide{
  display: flex !important;
  justify-content: center;
}
.swiper-button-prev, .swiper-button-next{
  color: var(--secoundry-colore) !important;
  width: 2.2rem !important;
  height: 2.2rem !important;
}
.swiper-button-prev{
  left: -4px !important;
}
.swiper-pagination-bullet{
  background-color: var(--secoundry-colore) !important;
}